:root {
    --serif: "Merriweather", "Georgia", serif;
    --sans-serif: sans-serif;
    --mono: "IBM Plex Mono", monospace;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    color: black;
    font-family: var(--sans-serif);
    width: 600px;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif);
}

p, li, p a {
    font-family: var(--serif);
}

li p {
    margin-top: 0;
    padding-bottom: 5px;
}

p:last-child, li:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: blue;
}

p a, li a {
    text-decoration: underline;
}

img {
    width: 640px;
    max-width: 100%;
}

table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 5px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
	margin: 15px;
	max-width: calc(100% - 30px);
    }
}
